body {
    font-family: roboto;
    background: #202624;
}

/* Hide no spice checkbox */
#no-spice {
    display: none;
}

/* Control display */

#landing-page {
    display: grid;
    
}

#ordering-page {
    display: none;
    
}

#order-form-page {
    display: none;
}

#order-details {
    display: none;
}

#order-confirmation {
    display: none;
}

/* Landing Page */

.landing-page {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    background: url(/Styling/BestburgerIphone.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}


.title {
    color: white;    
    grid-row: 4;
}

#taystreet-title {
    font-size: 35px;
    letter-spacing: 6px;
    font-weight: 500;

}

#burger-title {
    font-size: 66px;
    letter-spacing: 1px;
    font-weight: 500;
}

.order-now {
    color: white;
    background: 0;
    border: none;
    font-size: 25px;
    font-family: roboto;
    letter-spacing: 4.5%;
    grid-row: 11;
    align-self: end;
    transition: font-size 2s;
    width: 40%;
    justify-self: center;
}

.order-now:hover {
    font-size: 30px;
    cursor: pointer;
}

/* Ordering page background coulouring */

.ordering-page {
    background: #202624;
    height: 100vh;
}


/* Create Burger Page */

.order-title {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.order-title:hover {
    cursor: pointer;
}


.order-form {
    display: grid;
    grid-template-rows: 50px 100px 120px 120px 120px 100px 60px;
    background: #fff;
    height: fit-content;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 40px;    
    text-align: center;
}

.order-form h2, .order-form h3 {
    font-size: 23px;
    padding: 0;
    margin: 20px auto;
}

.order-form h3 {
    color: #91000B;
}

.order-form label {
    font-size: 18px;
    font-weight: 300;
    padding: 0px 0px 5px 8px;
    margin-top: 10px;
    line-height: 10px;
}

.spice {
    margin-top: 30px;
}

.spice img {
    height: 30px;
}

.next {
    
    justify-self: center;
   height: 35px; 
   width: 226px;
   font-size: 20px;
   color: #fff;
   background: #202624;
   border-radius: 30px;
   transition: width 1.5s;
}

.next:hover {
    
    width: 300px;
    cursor: pointer;
}

/* Order Details */

.order-details {
    display: grid;
    grid-template-rows: 10px 70px 20px 40px 200px 45px 100px 50px 60px;
    background: #fff;
    height: fit-content;
    width: 90%;
    margin: 0 auto;
    border-radius: 40px;    
    text-align: left;
}

.order-details h2 {
    text-align: center;
}

.name-input {
    text-align: left;
    margin-left: 40px;
}

.name-input label {
    font-size: 23px;
}

.name-input input {
    margin-left: 10px;
    padding-left: 5px;
    color: #A4A4A4;
    font-size: 18px;
    width: 154px;
    height: 32px;
    background: #EDEDED;
}

#name-alert {
    color: #91000B;
    text-align: center;
    margin-top: 40px;

}

.order-details h3 {
    color: #91000B;
    font-size: 24px;
    margin-left: 40px;
}

#patty {
    font-weight: 400;
    margin-top: 15px;
    margin-left: -40px;
}

.ingredients {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-left: 80px;
}

#total {
    font-size: 24px;
    margin-left: 40px;
}

.order-details textarea {
    width: 80%;
    margin: 0 auto;
    height: 60px;
}

.confirm-order {
    justify-self: center;
    height: 35px; 
    width: 226px;
    font-size: 20px;
    color: #fff;
    background: #202624;
    border-radius: 30px;
    transition: width 1.5s;
}

.confirm-order:hover {
    width: 300px;
    cursor: pointer;
}

.back-button {
    justify-self: center;
    height: 35px; 
    width: 226px;
    font-size: 20px;
    color: #fff;
    background: #202624a4;
    border-radius: 30px;
    transition: width 1.5s;
}

.back-button:hover {
    width: 300px;
    cursor: pointer;
}

/* Order Confirmation  */

.order-confirmation {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    background: #fff;
    height: fit-content;
    width: 90%;
    margin: 0 auto;
    border-radius: 40px;    
    text-align: center;
    align-items: center;
}

.order-confirmation p {
    margin: 0 auto;
    width: 90%;
    margin-top: 30px;
    font-size: 26px;
}



.new-order-button {
    justify-self: center;
    height: 35px; 
    width: 226px;
    font-size: 20px;
    color: #fff;
    background: #202624;
    border-radius: 30px;
    transition: width 1.5s;
}

.new-order-button:hover {
    width: 300px;
    cursor: pointer;
}


@media only screen and (min-width: 500px) {
    .landing-page {
        background: url(/Styling/BestburgerOriginal.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .order-confirmation, .order-details, .order-form{
        width: 50%;
    }
}